#logInContainer{
	width:400px;
	margin-top: 36vh;
	text-align: center;

}
.InputHolder{
	margin-bottom: 15px;

}
#registerBtn{
	margin-left: 10px;
}
#subtopic_num{
	float: right;
}
#updateBtn{
	float: left;
    margin-right: 10px;
   
}
#topicDesc{
	resize:none ; 
	height:100px ; 
	margin-top:10px;
}
#btn_post{
	margin-top: 5px;

}
#comment_area{
	width:100% ;
	 resize:none ; 
	 height:60px;
}