#logInContainer{
	width:400px;
	margin-top: 36vh;
	text-align: center;

}
.InputHolder{
	margin-bottom: 15px;

}
#registerBtn{
	margin-left: 10px;
}
#subtopic_num{
	float: right;
}
#updateBtn{
	float: left;
    margin-right: 5px;
}
#topicDesc{
	resize:none ; 
	height:100px ; 
	margin-top:10px;
}